name: Checks

on:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Go Setup
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Build
      run: make build
  
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Go Setup
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Test
      run: make test

  format:
    name: Format
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Go Setup
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Format
      run: make fmt
